#testTir
{
	height:500px;
	width:500px;
	background-color: lightblue;
}

#joueur
{
	height:50px;
	width:100px;
	background-color: red;
	position: absolute;
	left: 100px;
	top: 300px;
}

.projectile
{
	height:25px;
	width:25px;
	background-color: green;
	position: absolute;
	left: 100px;
}