body{
    border:1px black solid;
    width:800px;
    height:600px;
}
.jeu{
    height:600px;
    background-color:black;
}
.imagextra{
    width:65px;
    height:55px;
}
.deplacementalien{
    margin-left:10px;
    position : absolute;
    
}
.joueur
{
    height:50px;
    width:100px;
    position: absolute;
    margin-left:10px;
}
.projectile{
	position: absolute;
}
