#carre{
    
    background-color: black;
    height: 100px;
    width: 100px;
    position : absolute;
    
    
    
    
}
.carre2{
    
    border: 5px black solid;
    height: 600px;
    width: 1000px;
   margin-left: 300px;
   
    
}