body{
    background-color:black;
    color:white;
}
.play{
    text-align: center;
    margin-top: 5%;
    font-family:Impact, fantasy;
    font-size:100px;
}
.none{
    text-decoration:none;
}
.play:hover{
    font-size:120px;
    color:green;
}
.nom{
    font-size:150px;
    text-align: center;
    margin-top: 5%;
    font-family:Impact, fantasy;
}

